footer {
  background: var(--hf-bg-color);
}

.mobile-phone,
.mobile-social {
  display: none;
}

.footer-navbar-container {
  padding: 18px 0px 18px 0px;
}

.footer-container-fluid {
  display: flex;
  align-items: center;
}

.footer-navbar-brand {
  display: block;
  margin: 0px 55px 0px 0px;
  color: var(--link-color);
  font-size: 36px;
  font-weight: 700;
  font-family: var(--Inter);
}

.footer-navbar-brand__img {
  display: block;
  width: 175px;
  height: 67px;
  object-fit: cover;
}

.footer-navbar-content {
  flex-grow: 1;
  position: relative;
}

.footer-navbar-close__img {
  display: none;
}

.footer-navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.nav-item {
  position: relative;
}

.nav-link__arrow::after {
  position: absolute;
  content: "\2039";
  left: 140px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.nav-link {
  display: block;
  font-family: var(--Inter);
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.nav-link:hover {
  color: var(--link-color);
}

.nav-link__active {
  color: var(--link-color);
}

.footer-navbar-contacts {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-navbar-social {
  display: block;
}

.footer-navbar-social img {
  width: 35px;
  height: auto;
}

.footer-navbar-phone {
  display: block;
  font-family: var(--Inter);
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.other-iformation-block {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  align-content: flex-end;
  justify-content: space-between;
  margin: 30px 0px 0px 0px;
}

.other-adress {
  color: #ffffff;
  font-size: 12px;
  font-family: var(--Inter);
  opacity: 0.6;
}

.other-adress a {
  color: #ffffff;
  font-size: 12px;
  font-family: var(--Inter);
  text-decoration: underline;

}

@media (max-width: 1140px) {

  .mobile-phone,
  .mobile-social {
    display: flex;
    gap: 20px;
  }

  .footer-navbar-contacts {
    flex-grow: 1;
    justify-content: end;
    padding: 0px 45px 0px 0px;
  }

  .footer-navbar-burger__img {
    cursor: pointer;
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    right: 0px;
  }

  .footer-navbar-burger__img::after {
    display: flex;
    position: absolute;
    content: "\2630";
    color: var(--link-color);
    font-size: 40px;
    width: 50px;
    height: 50px;
    right: 0px;
    align-items: center;
    justify-content: center;
  }

  .footer-navbar-move {
    display: block;
    background: #2B1100;
    z-index: 100;
    transform: translateX(0px);
    padding: 50px 25px 0px 25px;
    top: 0px;
  }

  .footer-navbar-close__img {
    display: block;
    position: absolute;
    right: 49px;
    top: 25px;
    width: 50px;
    height: 50px;
  }

  .footer-navbar-close__img::after {
    position: absolute;
    content: "\2716";
    color: var(--link-color);
    font-size: 40px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-navbar-nav {
    display: flex;
    gap: 45px;
  }

}

@media (max-width: 1086px) {
  .footer-navbar-nav {
    gap: 25px;
  }
}

@media (max-width: 1026px) {
  .footer-container-fluid {
    flex-wrap: wrap;
    gap: 30px;
  }

  .footer-navbar-contacts {
    width: 100%;
    justify-content: start;
    padding: 0px 45px 0px 0px;
  }
}

@media (max-width: 990px) {
  .footer-navbar-nav {
    display: flex;
    gap: 45px;
    justify-content: flex-start;
  }
}

@media (max-width: 666px) {

  .other-iformation-block {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 550px) {
  .footer-container-fluid {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    align-content: flex-start;
  }

  .footer-navbar-nav {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 500px) {
  .footer-navbar-brand {
    font-size: 28px;
  }
}